@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P",cursive;

}

a {
  color: inherit;
  text-decoration: none;
}
.dn svg{
  display: none;
}

.navbar-start img{
  height: 80px;
}
btn{
  padding: 6px 16px !important;
    background-color: #be4f3e !important;
    margin: 0px auto !important;
    border-radius: 18px !important;
}
.btn-sm {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.dn{
  padding: 0 !important;
}
* {
  box-sizing: border-box;
}
.navbar a:hover{
  color: #be4f3e !important;
}
.h-screen{
      background-color: #0a121d;
}
/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}
footer{
      background-color: #0a121d !important;
      padding: 0 !important;
}
