@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P",cursive;

}

a {
  color: inherit;
  text-decoration: none;
}
.p-2 svg{
  display: none;
}
.px-2 svg{
  display: block !important;
}
.navbar-start img{
  height: 90px;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}
